body {
    padding: 0px;
    --scrollbar-width: 0px;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;     /* alinhamento */
    background-color:rgb(255, 255, 255)  ;
    /* Quebra de linha quando os itens não couberem na largura da tela. */
	flex-wrap: wrap;
    /* Margem de todos os lados. */
	margin: 0px;
    border: 0px;
    position: relative;
}



.menu-principal {
    width: 100%;
    background-color: #2f2e2e; 
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
    color: #fff;
    display: flex;
    justify-content: space-evenly;

}


.nomedocabecalho {
    font-size: large;
    flex-direction: row; 
    
}

.logo {
    padding: 15px;
    margin-right: 0,5%; 
}


.menu {
    color: #fff; 
    display: inline-block;
    text-align: center; 
}

.redessociais {
    display: flex;
align-items: center; 
}

.menu ul li {
    display: inline; 
    margin-right: 20px;
    
}

.menu a {
    text-decoration: none ;
    color: #fff
}





.calc-container{
    height: calc(100vh - 80px);
}

.calc-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.calc-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.calc-titulo{
    font-size: 40px;

}

.calc-input{
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    width: 400px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

.calc-botao{
    width: 150px;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.calc-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 2px solid #000;
    font-size: 20px;
    font-weight: bold;
}

.calc-botao{

}

.calc-se-cadastre{
    color: #000;
}

.calc-bem-sucedido{
    display: none;
}

.calc-off{
    display: none;
}

.logado{
    text-align: center;
    font-size: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.logado a{
    color: #000
}