body {
    padding: 0px;
    --scrollbar-width: 0px;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;     /* alinhamento */
    background-color:rgb(255, 255, 255)  ;
    /* Quebra de linha quando os itens não couberem na largura da tela. */
	flex-wrap: wrap;
    /* Margem de todos os lados. */
	margin: 0px;
    border: 0px;
    position: relative;
}



.menu-principal {
    width: 100%;
    background-color: #2f2e2e; 
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
    color: #fff;
    display: flex;
    justify-content: space-evenly;

}


.nomedocabecalho {
    font-size: large;
    flex-direction: row; 
    
}

.logo {
    padding: 15px;
    margin-right: 0,5%; 
}


.menu {
    color: #fff; 
    display: inline-block;
    text-align: center; 
}

.redessociais {
    display: flex;
align-items: center; 
}

.menu ul li {
    display: inline; 
    margin-right: 20px;
    
}

.menu a {
    text-decoration: none ;
    color: #fff
}





.login-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column
}

.login-botao{

}